app = "snake-telnet"
primary_region = "ams"

[[services]]
auto_start_machines = true
auto_stop_machines = "stop"
internal_port = 8_080
min_machines_running = 0
processes = [ "app" ]
protocol = "tcp"

[[services.ports]]
handlers = [ ]
port = 8_080
force_https = false

[services.ports.http_options.response]
pristine = true

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "512mb"
